@font-face {
	font-family: 'League Spartan';
	src: url('LeagueSpartan-Bold.ttf') format('truetype');
}
body{
	overflow-x:hidden;
	scroll-behavior:smooth;
	min-height:100vh;
	position:fixed;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
	font-family: 'Leelawadee UI';
	src: url('LeelaUI.ttf') format('truetype');
}
@font-face {
	font-family: 'Leelawadee UI';
	src: url('LeelaUIb.ttf') format('truetype');
	font-weight: bold;
}
@font-face {
	font-family: 'Leelawadee UI';
	src: url('LeelaUIsl.ttf') format('truetype');
	font-weight: 200;
}